@import '../styles.css';

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf');
}

.game-form-wrapper a {
    margin-top: 20px;
}

.game-form-wrapper .custom-button {
    margin: 10px;
    padding: 5px 10px;
    font-family: 'Roboto-Thin', sans-serif;
    font-size: 1.2rem;
}

.game-form-wrapper .ripple:hover {
  background: var(--color-error) radial-gradient(circle, transparent 1%, var(--color-button-ripple) 1%) center/15000%;
}

.game-form-wrapper .btn-done {
   margin: 3px 3px 20px 3px;
   padding: 5px 10px;
   font-family: 'Roboto-Thin', sans-serif;
   font-size: 1.1rem;
   text-decoration: none;
   text-align: center;
   color: var(--color-success);
   background: transparent;
   border: none;
   cursor: pointer;
   outline: none;
}
