@import '../styles.css';

.wrapper-game-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
}

.wrapper-game-score .score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}