@import '../styles.css';

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf');
}

.game-hold-pitcher-wrapper h3 {
    margin-bottom: 15px;
    color: var(--color-accent);
}

.game-hold-pitcher-wrapper .custom-button {
    padding: 5px 10px;
    font-family: 'Roboto-Thin', sans-serif;
    background-color: var(--color-success);
}

.game-hold-pitcher-wrapper .ripple:hover {
    background: var(--color-error) radial-gradient(circle, transparent 1%, var(--color-button-ripple) 1%) center/15000%;
}

.game-hold-pitcher-wrapper .ripple:active {
    background-color: var(--color-success);
}

.game-hold-pitcher-wrapper .btn-link {
    margin-top: 15px;
}