@import '../styles.css';

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf');
}

.center-content {
  padding: 1rem;
}

.game-score-wrapper .score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.game-score-wrapper .score-cell {
  border: 1px solid var(--color-links);
  padding: 6px;
}

.game-score-wrapper .field {
  position: relative;
  width: 600px;
  height: 600px;
  margin-bottom: 15px;
}

.game-score-wrapper .field-img {
  width: 600px;
  height: 600px;
  display: relative;
  z-index: -1;
}

.game-score-wrapper .action-buttons {
  display: flex;
  flex-direction: row;
}

.game-score-wrapper .custom-button {
  padding: 5px;
  margin: 4px;
}

.game-score-wrapper .chip-defence {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
  background-color: var(--color-accent);
  color: var(--color-primary);
  cursor: pointer;
}

.game-score-wrapper .chip-offence {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
  background-color: var(--color-accent);
  color: var(--color-secondary);
  cursor: pointer;
}

.game-score-wrapper .chip-long {
  width: 130px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
  background-color: var(--color-accent);
  color: var(--color-secondary);
  text-overflow: ellipsis;
}

.center-field {
  position: absolute;
  left: 285px;
  top: 40px;
}

.left-field {
  position: absolute;
  left: 120px;
  top: 120px;
}

.right-field {
  position: absolute;
  left: 447px;
  top: 120px;
}

.shortstop {
  position: absolute;
  left: 210px;
  top: 230px;
}

.second-base-defence {
  position: absolute;
  left: 360px;
  top: 230px;
}

.second-base-offence {
  position: absolute;
  left: 288px;
  top: 190px;
}

.third-base-defence {
  position: absolute;
  left: 145px;
  top: 310px;
}

.third-base-offence {
  position: absolute;
  left: 175px;
  top: 310px;
}

.first-base-defence {
  position: absolute;
  left: 428px;
  top: 310px;
}

.first-base-offence {
  position: absolute;
  left: 398px;
  top: 310px;
}

.pitcher {
  position: absolute;
  left: 286px;
  top: 310px;
}

.catcher {
  position: absolute;
  left: 286px;
  top: 462px;
}

.batter {
  position: absolute;
  left: 286px;
  top: 432px;
}









