@import '../styles.css';

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf');
}

html,
body {
  min-height: 100%;
}

.list-players-wrapper h3 {
    color: var(--color-accent);
}

.list-players-wrapper .custom-button {
    margin: 3px;
    padding: 5px 10px;
    font-family: 'Roboto-Thin', sans-serif;
}
