@import '../styles.css';

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf');
}

.list-teams-wrapper h3 {
    color: var(--color-accent);
}

.list-teams-wrapper .custom-button {
  margin: 3px;
  padding: 5px 10px;
  font-family: 'Roboto-Thin', sans-serif;
}
