@import '../styles.css';

@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.ttf');
}

.start-wrapper {
    padding: 0;
}

.start-wrapper div:first-of-type {
    margin-top: 11rem;
}

.start-wrapper .custom-button {
    width: 250px;
    margin: 0 0 20px 0;
    padding: 10px 30px;
    font-family: 'Roboto-Black', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.start-wrapper a {
    color: var(--color-primary);
}
