@import '../styles.css';

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf');
}

.teamPlayer-form-wrapper .custom-button {
    margin: 3px;
    padding: 5px 10px;
    font-family: 'Roboto-Thin', sans-serif;
    background-color: var(--color-success);
}

.teamPlayer-form-wrapper .accented {
    background-color: var(--color-accent);
    text-transform: uppercase;
    margin: 10px;
}

.teamPlayer-form-wrapper .ripple:hover {
  background: var(--color-error) radial-gradient(circle, transparent 1%, var(--color-button-ripple) 1%) center/15000%;
}

.teamPlayer-form-wrapper .ripple:active {
  background-color: var(--color-success);
}

.teamPlayer-form-wrapper .accented .ripple:active {
    background-color: var(--color-accent);
}

.teamPlayer-form-wrapper .center-btn {
    text-align: center;
}
