<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/regular.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
          rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="/styles/pages/_style-base.css">
    <link rel="stylesheet" href="/styles/pages/_game-score.css">
    <title th:text="|${gameWrapper.visitorTeam.teamNameShort} at ${gameWrapper.homeTeam.teamNameShort}|"></title>
</head>

<body>
<div class="game-score-wrapper center-content">
    <div class="score">
        <div class="score-cell" th:text="|AWAY ${gameWrapper.finalResult.visitorTeamScore}|"></div>
        <div class="score-cell" th:text="|HOME ${gameWrapper.finalResult.homeTeamScore}|"></div>
        <div class="score-cell" th:text="|INNING ${gameWrapper.currentInning.inningNumber}|"></div>
        <div class="score-cell" th:text="|OUT ${gameWrapper.currentInning.currentOuts}|"></div>
        <div class="score-cell" th:text="|B ${batter != null ? batter.ballCount : '0'}|"></div>
        <div class="score-cell" th:text="|S ${batter != null ? batter.strikeCount : '0'}|"></div>
    </div>

    <div class="field">
        <img src="/img/baseball-field-sketch.png" class="field-img">

        <div class="center-field chip-defence" title="CENTER FIELD"
             th:text="${centerField != null} ? ${centerField.jerseyNumber} : ''"></div>
        <div class="left-field chip-defence" title="LEFT FIELD"
             th:text="${leftField != null} ? ${leftField.jerseyNumber} : ''"></div>
        <div class="right-field chip-defence" title="RIGHT FIELD"
             th:text="${rightField != null} ? ${rightField.jerseyNumber} : ''"></div>
        <div class="shortstop chip-defence" title="SHORTSTOP"
             th:text="${shortStop != null} ? ${shortStop.jerseyNumber} : ''"></div>
        <div class="second-base-defence chip-defence" title="SECOND BASE Defence"
             th:text="${secondBaseDefence != null} ? ${secondBaseDefence.jerseyNumber} : ''"></div>
        <div class="second-base-offence chip-offence" title="SECOND BASE Offence"
             th:text="${secondBaseOffence != null} ? ${secondBaseOffence.jerseyNumber} : ''"></div>
        <div class="third-base-defence chip-defence" title="THIRD BASE Defence"
             th:text="${thirdBaseDefence != null} ? ${thirdBaseDefence.jerseyNumber} : ''"></div>
        <div class="first-base-defence chip-defence" title="FIRST BASE Defence"
             th:text="${firstBaseDefence != null} ? ${firstBaseDefence.jerseyNumber} : ''"></div>
        <div class="third-base-offence chip-offence" title="THIRD BASE Offence"
             th:text="${thirdBaseOffence != null} ? ${thirdBaseOffence.jerseyNumber} : ''"></div>
        <div class="pitcher chip-defence" title="PITCHER"
             th:text="${pitcher != null} ? ${pitcher.jerseyNumber} : ''"></div>
        <div class="first-base-offence chip-offence" title="FIRST BASE Offence"
             th:text="${firstBaseOffence != null} ? ${firstBaseOffence.jerseyNumber} : ''"></div>
        <div class="batter chip-long" title="BATTER"
             th:text="${batter != null} ? ${batter.jerseyNumber + ' ' + batter.lastName} : ''"></div>
        <div class="catcher chip-defence" title="CATCHER"
             th:text="${catcher != null} ? ${catcher.jerseyNumber} : ''"></div>
    </div>

    <form action="#" th:action="@{/games/showGameInfo}" method="POST">
        <input type="hidden" name="gameId" th:value="${gameWrapper.id}"/>
        <button class="custom-button ripple">
            Exit
        </button>
    </form>

    <div class="pre-action-buttons" th:if="${gameWrapper.startTimeOfGame == null}">

        <form action="#" th:action="@{/games/play}" method="POST">
            <input type="hidden" name="gameId" th:value="${gameWrapper.id}"/>
            <button class="custom-button ripple">
                Play!
            </button>
        </form>

        <form action="#" th:action="@{/games/lineup}" method="GET">
            <input type="hidden" name="teamId" th:value="${gameWrapper.visitorTeam.id}"/>
            <input type="hidden" name="gameId" th:value="${gameWrapper.id}"/>
            <button class="custom-button ripple">
                Visitor Team Lineup
            </button>
        </form>

        <form action="#" th:action="@{/games/lineup}" method="GET">
            <input type="hidden" name="teamId" th:value="${gameWrapper.homeTeam.id}"/>
            <input type="hidden" name="gameId" th:value="${gameWrapper.id}"/>
            <button class="custom-button ripple">
                Home Team Lineup
            </button>
        </form>
    </div>

    <div class="action-buttons" th:if="${gameWrapper.startTimeOfGame != null}">

        <form action="#" th:action="@{/games/ball}" method="POST">
            <input type="hidden" name="gameId" th:value="${gameWrapper.id}"/>
            <input type="hidden" name="pitcherId" th:value="${pitcher.id}"/>
            <input type="hidden" name="batterId" th:value="${batter.id}"/>
            <button class="custom-button ripple">
                Ball
            </button>
        </form>

        <form action="#" th:action="@{/games/strike}" method="POST">
            <input type="hidden" name="gameId" th:value="${gameWrapper.id}"/>
            <input type="hidden" name="pitcherId" th:value="${pitcher.id}"/>
            <input type="hidden" name="batterId" th:value="${batter.id}"/>
            <input type="hidden" name="strikeCount" th:value="${batter.strikeCount}"/>
            <button class="custom-button ripple">
                Strike
            </button>
        </form>

        <form action="#" th:action="@{/games/foul}" method="POST">
            <input type="hidden" name="gameId" th:value="${gameWrapper.id}"/>
            <input type="hidden" name="batterId" th:value="${batter.id}"/>
            <button class="custom-button ripple">
                Foul
            </button>
        </form>

        <form action="#" th:action="@{/games/inPlay}" method="POST">
            <input type="hidden" name="gameId" th:value="${gameWrapper.id}"/>
            <input type="hidden" name="pitcherId" th:value="${pitcher.id}"/>
            <input type="hidden" name="batterId" th:value="${batter.id}"/>
            <input type="hidden" name="firstBaseOffenceId"
                   th:value="${firstBaseOffence != null} ? ${firstBaseOffence.id} : ${0}"/>
            <input type="hidden" name="secondBaseOffenceId"
                   th:value="${secondBaseOffence != null} ? ${secondBaseOffence.id} : ${0}"/>
            <input type="hidden" name="thirdBaseOffenceId"
                   th:value="${thirdBaseOffence != null} ? ${thirdBaseOffence.id} : ${0}"/>
            <input type="hidden" name="catcherId" th:value="${catcher.id}"/>
            <input type="hidden" name="firstBaseDefenceId" th:value="${firstBaseDefence.id}"/>
            <input type="hidden" name="secondBaseDefenceId" th:value="${secondBaseDefence.id}"/>
            <input type="hidden" name="shortStopId" th:value="${shortStop.id}"/>
            <input type="hidden" name="thirdBaseDefenceId" th:value="${thirdBaseDefence.id}"/>
            <input type="hidden" name="rightFieldId" th:value="${rightField.id}"/>
            <input type="hidden" name="centerFieldId" th:value="${centerField.id}"/>
            <input type="hidden" name="leftFieldId" th:value="${leftField.id}"/>
            <button class="custom-button ripple">
                In Play
            </button>
        </form>
    </div>

    <form action="#" th:action="@{/games/showGameInfo}" method="POST">
        <input type="hidden" name="gameId" th:value="${gameWrapper.id}"/>
        <button class="btn-link" type="submit">
            <i class="far fa-arrow-alt-circle-left"></i> Back
        </button>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>