<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <!-- FontAwesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css"
              rel="stylesheet" type="text/css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/regular.min.css"
              rel="stylesheet" type="text/css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
              rel="stylesheet" type="text/css"/>

        <link rel="stylesheet" href="/styles/pages/_style-base.css">
        <link rel="stylesheet" href="/styles/pages/_list-teams.css">
        <title>Team Manager</title>
    </head>

    <body>
        <div class="list-teams-wrapper center-content">

        <h3>Team Manager</h3>
        <hr>

        <a th:href="@{/teams/showFormForAddTeam}">
            Create new team <i class="fas fa-users"></i>
        </a>

        <table border="1">
            <tbody>
            <tr th:each="tempTeam : ${teams}">

                <td th:text="${tempTeam.teamNameLong}"/>

                <td>

                    <form action="#" th:action="@{/teams/showFormForUpdateTeam}" method="POST">

                        <input type="hidden" name="teamId" th:value="${tempTeam.id}"/>
                        <button class="custom-button ripple" type="submit">
                            Update <i class="far fa-edit"></i>
                        </button>

                    </form>
                    <form action="#" th:action="@{/teams/delete}" method="POST">

                        <input type="hidden" name="teamId" th:value="${tempTeam.id}"/>
                        <button class="custom-button ripple" type="submit"
                                onclick="if (!(confirm('Are you sure you want to delete this team?'))) return false">
                            Delete <i class="far fa-trash-alt"></i>
                        </button>

                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <a th:href="@{/scorekeeper/homePage}">
            <i class="far fa-arrow-alt-circle-left"></i> Back
        </a>
    </div>
    </body>
</html>



