<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="/styles/pages/_style-base.css">
        <link rel="stylesheet" href="/styles/pages/_start.css">
        <title>Scorekeeper</title>
    </head>

    <body>
        <div class="start-wrapper center-content">

            <div>
                <form action="#" th:action="@{/games/list}" method="GET">
                    <button class="custom-button ripple" type="submit">Game Manager</button>
                </form>
            </div>
            <div>
                <form action="#" th:action="@{/players/list}" method="POST">
                    <input type="hidden" name="teamId" th:value="0"/>
                    <input type="hidden" name="isTeamPlayer" th:value="${false}"/>
                    <button class="custom-button ripple" type="submit">Player Manager</button>
                </form>
            </div>
            <div>
                <form action="#" th:action="@{/teams/list}" method="GET">
                    <button class="custom-button ripple" type="submit">Team Manager</button>
                </form>
            </div>

        </div>
    </body>
</html>
