<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Scorekeeper</title>
</head>

<body>

<a th:href="@{/games/list}">
    Game Manager
</a>

<br>

<form action="#" th:action="@{/players/list}" method="POST">

    <input type="hidden" name="teamId" th:value="0"/>
    <input type="hidden" name="isTeamPlayer" th:value="${false}"/>
    <button type="submit">Player Manager</button>

</form>

<br>

<a th:href="@{/teams/list}">
    Team Manager
</a>

</body>
</html>
