<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/regular.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
          rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="/styles/pages/_style-base.css">
    <link rel="stylesheet" href="/styles/pages/_teamPlayer-form.css">
    <title>Player Info</title>
</head>

<body>
<div class="teamPlayer-form-wrapper center-content">

    <form action="#" th:action="@{/players/save}"
          th:object="${player}" method="POST">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" name="team" th:value="${teamId}"/>

        <table border="1">
            <tbody>
            <tr>
                <td>First Name</td>
                <td><input type="text" th:field="*{firstName}"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" th:field="*{lastName}"></td>
            </tr>
            <tr>
                <td>Jersey Number</td>
                <td><input type="text" th:field="*{jerseyNumber}"></td>
            </tr>
            <tr>
                <td>Starter</td>
                <td><input type="checkbox" th:field="*{starter}"/></td>
            </tr>
            <tr>
                <td>Position</td>
                <td>
                    <select th:field="*{defencePosition}">
                        <option th:each="defencePosition : ${defendingPositions}"
                                th:value="${defencePosition}"
                                th:text="${defencePosition}">
                        </option>
                    </select>
                </td>
            </tr>

            <input type="hidden" name="isTeamPlayer" th:value="${true}"/>
            <input type="hidden" name="teamId" th:value="${teamId}"/>

            <tr>
                <td colspan="2" class="center-btn">
                    <button class="custom-button ripple" type="submit">
                        Save <i class="far fa-save"></i>
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
    </form>


    <form action="#" th:action="@{/players/showPlayerStats}" method="POST" th:unless="${player.id == 0}">

        <input type="hidden" name="playerId" th:value="${player.id}"/>
        <input type="hidden" name="teamId" th:value="${teamId}"/>
        <input type="hidden" name="isTeamPlayer" th:value="${true}"/>
        <button class="custom-button ripple accented" type="submit">
            Player Stats <i class="fas fa-clipboard-list"></i>
        </button>

    </form>

    <form action="#" th:action="@{/teams/showRoster}" method="POST" th:unless="${teamId == 0}">

        <input type="hidden" name="teamId" th:value="${teamId}"/>
        <button class="btn-link" type="submit">
            <i class="far fa-arrow-alt-circle-left"></i> Back
        </button>

    </form>
    <a th:href="@{/players/list}" th:unless="${teamId != 0}">
        <i class="far fa-arrow-alt-circle-left"></i> Back
    </a>

</div>
</body>
</html>