<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/regular.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
          rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="/styles/pages/_style-base.css">
    <link rel="stylesheet" href="/styles/pages/_team-form.css">
    <title>Team Info</title>
</head>

<body>
<div class="team-form-wrapper center-content">
    <form action="#" th:action="@{/teams/save}"
          th:object="${team}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{teamNameLong}"
               placeholder="Team name">

        <input type="text" th:field="*{teamNameShort}"
               placeholder="Short name">

        <button type="submit" class="custom-button ripple">
            Save <i class="far fa-save"></i>
        </button>

    </form>

    <form action="#" th:action="@{/teams/showRoster}" method="POST" th:unless="${team.id == 0}">

        <input type="hidden" name="teamId" th:value="${team.id}"/>
        <button type="submit">Roster</button>

    </form>

    <form action="#" th:action="@{/teams/showTeamStats}" method="POST" th:unless="${team.id == 0}">

        <input type="hidden" name="teamId" th:value="${team.id}"/>
        <button type="submit">Team Stats</button>

    </form>

    <a th:href="@{/teams/list}">
        <i class="far fa-arrow-alt-circle-left"></i> Back
    </a>

</div>
</body>
</html>