<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${team.teamNameLong}"></title>
</head>

<body>

<table border="1">
    <tbody>
    <tr th:each="tempPlayer : ${players}">

        <td th:text="${tempPlayer.firstName} + ' ' + ${tempPlayer.lastName}"/>
        <td>
            <form action="#" th:action="@{/players/showFormForUpdatePlayer}" method="POST">

                <input type="hidden" name="playerId" th:value="${tempPlayer.id}"/>
                <input type="hidden" name="teamId" th:value="${team.id}"/>
                <input type="hidden" name="isTeamPlayer" th:value="${true}"/>
                <button type="submit">Update</button>

            </form>
        </td>
        <td>
            <form action="#" th:action="@{/teams/removeFromTeam}" method="POST">

                <input type="hidden" name="playerId" th:value="${tempPlayer.id}"/>
                <input type="hidden" name="teamId" th:value="${team.id}"/>
                <button type="submit"
                        onclick="if (!(confirm('Are you sure you want to remove this player from this team?'))) return false">
                    Remove
                </button>

            </form>
        </td>

    </tr>
    </tbody>
</table>
<form action="#" th:action="@{/teams/showFormForUpdateTeam}" method="POST">

    <input type="hidden" name="teamId" th:value="${team.id}"/>
    <button type="submit">Back</button>

</form>

</body>
</html>