<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title th:text="${team.teamNameLong}"></title>
</head>

<body>

<form action="#" th:action="@{/players/list}" method="POST">

    <input type="hidden" name="teamId" th:value="${team.id}"/>
    <input type="hidden" name="isTeamPlayer" th:value="${true}"/>
    <button type="submit">Add player to team</button>

</form>
<table border="1">
    <tbody>
    <tr th:each="tempPlayer : ${players}">

        <td th:text="${tempPlayer.firstName} + ' ' + ${tempPlayer.lastName}"/>
        <td>
            <form action="#" th:action="@{/players/showFormForUpdatePlayer}" method="POST">

                <input type="hidden" name="playerId" th:value="${tempPlayer.id}"/>
                <input type="hidden" name="teamId" th:value="${team.id}"/>
                <input type="hidden" name="isTeamPlayer" th:value="${true}"/>
                <button type="submit">Update</button>

            </form>
        </td>
        <td>
            <form action="#" th:action="@{/teams/removeFromTeam}" method="POST">

                <input type="hidden" name="playerId" th:value="${tempPlayer.id}"/>
                <input type="hidden" name="teamId" th:value="${team.id}"/>
                <button type="submit"
                        onclick="if (!(confirm('Are you sure you want to remove this player from this team?'))) return false">
                    Remove
                </button>

            </form>
        </td>

    </tr>
    </tbody>
</table>
<form action="#" th:action="@{/teams/showFormForUpdateTeam}" method="POST" th:if="${isLineup == false}">

    <input type="hidden" name="teamId" th:value="${team.id}"/>
    <button type="submit">Back</button>

</form>

<form action="#" th:action="@{/games/scoreGame}" method="POST" th:if="${isLineup == true}">

    <input type="hidden" name="gameId" th:value="${gameId}"/>
    <button type="submit">Back</button>

</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>