body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

a,
a:hover {
    text-decoration: none;
}